HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/generated/jpabook/jpashop/domain/QAddress.java
/src/main/generated/jpabook/jpashop/domain/item/QAlbum.java
/src/main/generated/jpabook/jpashop/domain/item/QBook.java
/src/main/generated/jpabook/jpashop/domain/QCategory.java
/src/main/generated/jpabook/jpashop/domain/QDelivery.java
/src/main/generated/jpabook/jpashop/domain/item/QItem.java
/src/main/generated/jpabook/jpashop/domain/QMember.java
/src/main/generated/jpabook/jpashop/domain/item/QMovie.java
/src/main/generated/jpabook/jpashop/domain/QOrder.java
/src/main/generated/jpabook/jpashop/domain/QOrderItem.java
